div {
  transition: width 2s;
}

div:hover{
  /*width: 300px;*/
}

td.rounded{
  border-radius: 0px 0px 20px 0px;
}

tr.shadowed{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}